.Status{
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center; 
    display: block;   
    margin: auto;
    padding-top: 80px;
    background:rgb(95, 95, 95);
    height: 100vh;
}

.StatusContainer{
    position: relative;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
}