.Status{
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center; 
    display: block;   
    margin: auto;
    padding-top: 80px;
}

.StatusContainer{
    position: relative;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

body{
    background:rgb(95, 95, 95);
}