.homeWrapper {
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center; 
    display: block;   
    margin: auto;
    padding-top: 80px;
    background:rgb(95, 95, 95);
    height: 100vh;
    font-size: 48px;
}
