.HomeWrapper {
    position: relative;
    color: white;
    align-items: center;
    text-align: center; 
    margin: 10px;
    padding-top: 120px;
    background:rgb(95, 95, 95);
    bottom: 60px;
    white-space: pre-line;
    font-size: 28px;
}

.HomeWrapper h1{
    font-size: 48px;
    font-weight: bold;
}

.HomeWrapper h2{
    font-size: 32px;
    font-weight: bold;
}
